<section class="user-summary-division grid-container">
  <div class="grid-col centered-flex-container">
    <%= image_tag 'icons/avatar.svg', class: 'user-profile-pic', alt: "Artist's Profile Picture" %>
  </div>
  <div class="grid-col">
    <h1 class="user-name"><%= @artist.name %></h1>
  </div>
</section>