<div class="body-flex">
  <%= render 'layouts/sidebar' %>
  <div class="root-container">
    <%= render 'layouts/navbar' %>

    <main>
      <h2 class="accent padding-20">My Artists</h2>
      <div class="margin-top-20">
        <%= render partial: 'card', collection: @artists %>
      </div>
    </main>

  </div>
</div>
