<div class="body-flex">
  <%= render 'layouts/sidebar' %>
  <div class="root-container">
    <%= render 'layouts/navbar' %>

    <main>
      <div class="margin-top-20">
        <%= render @artist %>
        <%= render partial: 'songs', locals: {artist: @artist} %>
      </div>
    </main>

  </div>
</div>
