<section class="comment-division padding-lr-20">
  <%= render partial: 'songs/comments/form', locals: {song: @song, comment: Comment.new} %>
  <% if comments.count < 1 %>
    <p class="fine-print">No comments yet</p>
  <% else %>
    <%= render partial: 'songs/comments/comment', collection: comments %>
  <% end %>
</section>