<div class="grid-container comment-grid">
  <div class="grid-col">
    <%= image_tag comment.user.profile_pic_thumbnail,
                  class: 'round-profile-photo',
                  alt: "Commenter's Profile Photo" %>
  </div>
  <div class="grid-col">
    <p>
      <strong>
        <%= comment.user.name %></strong> • <%= time_ago_in_words comment.created_at %> ago
    </p>
    <?php } ?>
    <p><%= comment.body %></p>
  </div>
</div>