<div class="song-list-card">
  <div class="flex-container">
    <div>
      <%= album_art_or_placeholder card, 'album-art-list' %>
    </div>
    <div class="flex-container flex-grow-right">
      <div>
        <p><%= link_to card.title, url_for(card) %></p>
        <p class="sub-label">
          <% if card.artists.count > 1 %>
            <% card.artists[...-1].each do |artist| %>
              <%= link_to artist.name, url_for(artist) %> •
            <% end %>
          <% end %>
          <%= link_to card.artists.last.name, url_for(card.artists.last) %>
        </p>
      </div>
      <!--<?php if ($adminEditControls) { ?>
      <div>
        <p><a href="edit_song.php?id=<?= $song->id ?>" class="action-link">Edit →</a></p>
        <p><a href="delete_song.php?id=<?= $song->id ?>" class="action-link">Delete</a></p>
      </div>
      <?php } ?>-->
    </div>
  </div>
</div>