<div class="song-list-card">
  <div class="flex-container">
    <div>
      <%= image_tag 'icons/avatar.svg', alt: 'Album Art', class: 'album-art-list' %>
    </div>
    <div class="flex-container flex-grow-right">
      <div>
        <p><%= link_to @song.title, song_url %></p>
        <p class="sub-label">
          <% @song.artists do |artist| %>
            <%= link_to artist.title, artist_url %>
          <% end %>
        </p>
      </div>
      <!--<?php if ($adminEditControls) { ?>
      <div>
        <p><a href="edit_song.php?id=<?= $song->id ?>" class="action-link">Edit →</a></p>
        <p><a href="delete_song.php?id=<?= $song->id ?>" class="action-link">Delete</a></p>
      </div>
      <?php } ?>-->
    </div>
  </div>
</div>