<section class="comment-division padding-lr-20">
  <form method="post" enctype="multipart/form-data"
        action="post_comment.php?song=<?= $songData->id ?>">
    <label>
      <input name="comment" class="comment-entry" placeholder="Write a comment..."
             type="text" required/>
    </label>
    <input class="neutral-button" type="submit" value="Post"/>
  </form>
  <?php if (!$comments || sizeof($comments) < 1) { ?>
  <p class="fine-print">No comments yet</p>
  <?php } else {
                        foreach ($comments as $comment) { ?>
  <div class="grid-container comment-grid">
    <div class="grid-col">
      <a href="artist.php?id=<?= $comment['id_user'] ?>">
        <img alt="Profile Photo" class="round-profile-photo"
             src="<?= $comment['profile_pic_url'] ?? './assets/img/icons/avatar.svg' ?>"/></a>
    </div>
    <div class="grid-col">
      <p>
        <?php if ($_SESSION['is_admin']) { ?>
        <strong><?= $comment['user_name'] ?></strong>
        at
        <strong><?= date('d. m. Y, H:i', strtotime($comment['date_time'])) ?></strong> •
        <a
          href="delete_comment.php?id=<?= $comment['id_comment'] ?>"><em>Delete</em></a>
        <?php } else { ?>
        <strong><?= $comment['user_name'] ?></strong>
        at
        <strong><?= date('d. m. Y, H:i', strtotime($comment['date_time'])) ?></strong>
      </p>
      <?php } ?>
      <p><?= highlight_comment_timestamps($comment['content']) ?></p>
    </div>
  </div>
  <?php }
                    } ?>
</section>