<div class="body-flex">
  <%= render 'layouts/sidebar' %>
  <div class="root-container">
    <%= render 'layouts/navbar' %>

    <main>
      <div class="margin-top-20">
        <%= render @song %>
        <%= render partial: 'songs/comments/comments', locals: {:comments => @song.comments} %>
      </div>
    </main>

  </div>
</div>
