<section class="user-summary-division grid-container">
  <div class="grid-col centered-flex-container">
    <%= image_tag 'icons/avatar.svg', class: 'album-art-big margin-lr-20',
                  alt: 'Album Art' %>
  </div>
  <div class="grid-col">
    <h1 class="user-name"><%= album.title %></h1>
  </div>
</section>