<div id="<%= dom_id album %>">
  <p>
    <strong>Title:</strong>
    <%= album.title %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= album.year %>
  </p>

  <p>
    <strong>Art url:</strong>
    <%= album.art_url %>
  </p>

</div>
